__pycache__/
*.pyc
logs/
wandb/
outputs/
*.egg-info/
.vscode/
/deployment/mujoco/policies/
slurm-*.out
slurm-*.err

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mp3
*.wav
*.ogg
*.aac
*.m4a
*.m4v

new_backbone_logs/
logs/
log/
